<a href="https://colab.research.google.com/github/JosemarDS/JosemarDS/blob/main/Aula_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLAS

Em Python, uma tupla é uma estrutura de dados semelhante a uma lista, mas com uma diferença fundamental: as tuplas são imutáveis. Isso significa que, uma vez que você cria uma tupla, não pode modificar seu conteúdo, adicionar ou remover elementos individualmente. As tuplas são úteis quando você deseja armazenar um conjunto de valores relacionados que não devem ser alterados durante a execução do programa.

In [11]:
minha_tupla = (1, 2, 3, 4, 5)
primeiro_elemento = minha_tupla[0]
print(primeiro_elemento)               #Retorna 1

1

1. Imutabilidade:
Como mencionado anteriormente, as tuplas são imutáveis, o que significa que você não pode alterar seus elementos após a criação. Isso impede que você atribua valores a índices individuais ou use métodos de lista como **`append()`** ou **`remove()`** em uma tupla.
2. Comprimento fixo:
Quando você cria uma tupla, ela tem um comprimento fixo, que não pode ser alterado posteriormente. Por exemplo, uma tupla com três elementos sempre terá três elementos.

In [ ]:
minha_tupla = (1, 2, 3)

Uso de tuplas:
As tuplas são frequentemente usadas quando você deseja representar dados que não devem ser alterados, como coordenadas (x, y), informações sobre uma data (dia, mês, ano) ou até mesmo para retornar múltiplos valores em uma função.

In [17]:
def obter_coordenadas():
    x = 10
    y = 20
    return x, y

coordenadas = obter_coordenadas()
x, y = coordenadas

IndentationError: ignored

Métodos de tupla:
As tuplas têm alguns métodos embutidos, como

count()
para contar o número de ocorrências de um elemento e

index()
para encontrar o índice de um elemento específico na tupla. No entanto, esses métodos não alteram a tupla original.

Em resumo, as tuplas em Python são estruturas de dados imutáveis que permitem armazenar uma coleção ordenada de elementos. Elas são úteis em situações em que você precisa garantir que os dados não sejam alterados acidentalmente e quando deseja representar dados relacionados que não mudam.

#TUPLAS EM PYTHON

dir(tuple)

dir(list)

CONSTANTES EM PYTHON:
A LINGUAGEM PYTHON NÃO POSSUE UMA NOMECLATURA PARA CONSTANTES.
O CORRETO É DECLARAR COM LETRAS MAIUSCULAS

NUMERO = 10

NUMERO2 = 20

TUPLAS POSSUEM O MESMO SENTIDO DE CONSTANTES EM PYTHON
Podemos usar o dir para acessar as possibilidades das Tuplas

In [18]:
#Acessando Tuplas:
tupla = (12,23,45)
for n in tupla:
  print(n)

12
23
45

In [19]:
#CONVERTENDO UMA TUPLAS EM LISTA:
tupla2 = (25,6,89,45)
n = list(tupla2)
print(n)

[25, 6, 89, 45]

In [20]:
#IMPRIMIR UMA TUPLA:
tupla3 = (2,3,6,9)
print(tupla3)

(2, 3, 6, 9)

In [21]:
#CONVERTENDO UMA LISTA EM UMA TUPLA:
lista1 = [1,23,4,5]
i = tuple(lista1)
print(i)

(1, 23, 4, 5)

In [23]:
#DESEMPACOTAR ELEMENTOS DA LISTA:
lista2 = [1,3]
x, y = lista2
print('Coordenada 1', x)
print('Coordenada 2', y)

Coordenada 1 1
Coordenada 2 3

In [ ]:
#Exercícios:

1 -  Crie uma tupla chamada frutas com pelo menos 5 frutas diferentes. Em seguida, acesse e imprima o terceiro elemento da tupla.

In [31]:
tupla_frutas = ['malão', 'morango', 'cajú', 'mamão', 'manga']
terceiro_elemento = tupla_frutas[3]
print(terceiro_elemento)

mamão

2 - Crie uma tupla chamada numeros com alguns números inteiros. Em seguida, converta essa tupla em uma lista e imprima a lista resultante.

In [30]:
numeros = [1,2,3,4,5]
i = tuple(numeros)
print(i)

(1, 2, 3, 4, 5)

3 - Crie uma tupla chamada meses com os nomes dos meses do ano até Setembro. Use um loop for para imprimir cada mês em uma linha separada.

In [33]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro']
for n in meses:
  print(n)

Janeiro
Fevereiro
Março
Abril
Maio
Junho
Julho
Agosto
Setembro

4 - Crie uma lista chamada notas com algumas notas de alunos. Em seguida, converta essa lista em uma tupla e imprima a tupla resultante.

In [34]:
notas = [10,9,6,8,4]
i = tuple(notas)
print(i)

(10, 9, 6, 8, 4)

5 - Crie uma lista chamada ponto que represente as coordenadas (x, y) de um ponto. Em seguida, desempacote os elementos da lista em duas variáveis separadas (x e y) e imprima os valores.

In [37]:
ponto = [9,4]
x, y = ponto
print('Coordenada x', x)
print('Coordenada y', y)

Coordenada x 9
Coordenada y 4